/* Estilo para o container da imagem */
.image-container {
    position: relative;
    cursor: pointer;
}

/* Estilo para esmaecer a imagem */
.image-container img:hover {
    opacity: 0.7;
}

/* Estilo para o texto de sobreposição */
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
    display: none;
}

/* Mostrar texto quando o mouse passa por cima da imagem */
.image-container:hover .overlay-text {
    display: block;
}
